footer.footer
    .footer-container
        .footer-links
            a(href="/admin/dashboard") Dashboard
            a(href="/admin/settings") Cài đặt
            a(href="/admin/help") Trợ giúp
            a(href="/admin/auth/logout") Đăng xuất
        .footer-social
            a.social-icon(href="#")
                i.fab.fa-facebook-f
            a.social-icon(href="#")
                i.fab.fa-twitter
            a.social-icon(href="#")
                i.fab.fa-instagram
        .footer-copyright
            | &copy; 2024 Hệ thống Quản trị. Bảo lưu mọi quyền.
